.git
.gitignore

.env
.env.*
!.env.example

backend/vendor
frontend/node_modules

backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

README.md
docs